.container_form-checkbox{
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
input.form-checkbox{
  width: 25px;
  height: 25px;
}
input.form-checkbox:checked{
  accent-color: var(--color-purple);
}