@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('datatables.net-bs5');
@import url('datatables.net-responsive-bs5');
@import url('./components/ui/mini-footer.css');
@import url('./admin/styles.css');

*, ::after, ::before{
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  outline: none;

  --green: #007642;
  --light-green: #009655;
  --white: #fff;
  --grey: #f0f0f0;
  --black: #180000;
}
body.body{
  background-color: var(--grey);
  display: grid !important;
  grid-template-rows: 70px 1fr auto;
  min-height: 100dvh;
  user-select: none;
  overflow: auto !important;
  color: var(--black);
}
main{
  width: 90%;
  margin: 20px auto;
}
.text-primary{
  color: var(--green) !important;
}
.border-primary{
  border: 1px solid var(--green) !important;
}
.form-control:focus,
.form-select:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--light-green) !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(0, 150, 81, .25) !important;
}
.form-check-input:checked {
  background-color: var(--light-green);
  border-color: var(--light-green);
}
.button_custom_primary{
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--white);
}
.button_custom_primary:hover,
.button_custom_primary:active{
  background-color: var(--light-green) !important;
  border: 1px solid var(--light-green) !important;
  color: var(--white) !important;
}
.button_custom_primary:focus-visible{
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
  color: var(--white);
  box-shadow: 0 0 0 .25rem rgba(0, 150, 81, .25) !important;
}
.button_custom_secondary{
  background-color: var(--white);
  border: 1px solid var(--green);
  color: var(--green);
}
.button_custom_secondary:hover,
.button_custom_secondary:active{
  background-color: var(--light-green) !important;
  border: 1px solid var(--light-green) !important;
  color: var(--white) !important;
}
.button_custom_secondary:focus-visible{
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
  color: var(--white);
  box-shadow: 0 0 0 .25rem rgba(0, 150, 81, .25) !important;
}
.btn-delete{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 38px;
}
.error_message{
  color: red;
  font-weight: 700;
  margin-bottom: 10px;
}
.forms_body{
  background: #4AC29A;
  background: -webkit-linear-gradient(to top, #BDFFF3, #4AC29A);
  background: linear-gradient(to top, #BDFFF3, #4AC29A);
  background-repeat: no-repeat;
  height: auto;
}
.data-card {
    transition: all 0.3s ease;
}
.data-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
.data-card .card-body .display-4 {
    transition: all 0.3s ease;
}
.data-card:hover .card-body .display-4 {
    transform: scale(1.1);
}
.data-card .material-symbols-outlined{
  font-size: 80px;
}
.data-card h2{
  font-size: 35px;
  margin-bottom: 0;
}