@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('datatables.net-bs5');
@import url('datatables.net-responsive-bs5');
@import url('./components/ui/mini-footer.css');
@import url('./admin/styles.css');
@import url('./components/ui/navbar.css');

*, ::after, ::before{
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  outline: none;

  --primary: #151515;
  --second: #A91D3A;
  --third: #C73659;
  --fourth: #EEEEEE;
  --fifth: #fff;
}
body.body{
  background-color: var(--fourth);
  display: grid !important;
  grid-template-rows: 70px 1fr auto;
  min-height: 100dvh;
  user-select: none;
  overflow: auto !important;
  color: var(--primary);
}
main{
  width: 90%;
  margin: 20px auto;
}
figure{
  margin: 0;
}
.text-primary{
  color: var(--second) !important;
}
.border-primary{
  border: 1px solid var(--second) !important;
}
.form-control:focus,
.form-select:focus {
  color: var(--primary);
  background-color: var(--fifth);
  border-color: var(--primary) !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(21, 21, 21, .25) !important;
}
.form-check-input:checked {
  background-color: var(--second);
  border-color: var(--second);
}
.button_custom_primary{
  background-color: var(--second);
  border: 2px solid var(--second);
  color: var(--fifth);
  padding: 10px 15px;
}
.button_custom_primary:hover,
.button_custom_primary:active{
  background-color: var(--fifth) !important;
  border: 2px solid var(--second) !important;
  color: var(--third) !important;
}
.button_custom_primary:focus-visible{
  background-color: var(--fifth);
  border: 2px solid var(--second);
  color: var(--third);
  box-shadow: 0 0 0 .25rem rgba(25, 25, 25, .25) !important;
}
.button_custom_secondary{
  background-color: var(--fifth);
  border: 2px solid var(--second);
  color: var(--second);
}
.button_custom_secondary:hover,
.button_custom_secondary:active{
  background-color: var(--primary) !important;
  border: 2px solid var(--primary) !important;
  color: var(--fifth) !important;
}
.button_custom_secondary:focus-visible{
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--fifth);
  box-shadow: 0 0 0 .25rem rgba(25, 25, 25, .25) !important;
}
.btn-delete{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 38px;
}
.error_message{
  color: red;
  font-weight: 700;
  margin-bottom: 10px;
}
.forms_body{
  background: var(--fourth);
  background: -webkit-linear-gradient(to bottom, var(--fourth), var(--fifth)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, var(--primary), var(--fifth));
  background-repeat: no-repeat;
  height: auto;
}
.data-card {
    transition: all 0.3s ease;
}
.data-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
.data-card .card-body .display-4 {
    transition: all 0.3s ease;
}
.data-card:hover .card-body .display-4 {
    transform: scale(1.1);
}
.data-card .material-symbols-outlined{
  font-size: 80px;
}
.data-card h2{
  font-size: 35px;
  margin-bottom: 0;
}
/* Public */
.section_hero{
  height: 90dvh;
}
.section_hero a{
  width: max-content;
}
.hero_image{
  width: 80%;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (width < 768px){
  .section_hero .row{
    flex-direction: column-reverse;
    height: auto !important;
  }
}

@keyframes up-down{
  0% {
    transform: translateY(10px);
  }
  100% {
      transform: translateY(-10px);
  }
}