.nav_custom{
  background-color: var(--green) !important;
  color: var(--white);
}
.navbar-toggler-icon{
  filter: invert(1) !important;
  -webkit-filter: invert(1) !important;
}
.offcanvas{
  background-color: var(--grey) !important;
}
.active{
  color: var(--green) !important;
}
.card{
  border: 1px solid var(--green);
}
.dt-paging-button.page-item.active button{
  background-color: var(--green) !important;
  border-color: var(--green);
  color: var(--white) !important;
}
.dt-paging-button.page-item.active button:hover{
  background-color: var(--light-green) !important;
  border-color: var(--light-green);
  color: var(--white) !important;
}
.accordion-button:focus{
  box-shadow: 0 0 0 .25rem rgba(0, 150, 81, .25) !important;
}
.accordion-button:not(.collapsed){
  color: var(--white);
  background-color: var(--light-green);
}
.chart{
  max-width: 320px;
  width: 100%;
}