@import url('../components/ui/table.css');

.container_login{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin-top: 150px;
}
.container_login form{
  background-color: #fff;
  border: 1px solid var(--color-green);
  border-radius: 10px;
  padding: 20px;
  min-width: 320px;
  max-width: 380px;
  width: 100%;
  text-align: center;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container_login form img{
  margin-bottom: 20px;
}
.container_login form h1{
  font-size: 22px;
  color: var(--color-blue);
}
.container_heading{
  width: 100%;
}
.container_heading_admin{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-purple);
  padding: 10px 0;
  align-items: center;
}
.heading_admin{
  font-size: 20px;
  margin-top: 10px;
}